<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>视频编辑</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../css/layui.css" media="all">
		<script src="../js/jquery-3.5.0.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div class="layui-card">
				<div class="layui-card-header"></div>
				<div class="layui-card-body">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">选择分类</label>
							<div class="layui-input-block">
								<select id="select_yi" name="interest" lay-filter="brickType" lay-verify="required">
									<option v-for="item in dataList" :value="item.id">{{item.Name}}</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">选择类目</label>
							<div class="layui-input-block">
								<select name="interestr11" lay-filter="aihao" id="select_er">
									<option v-for="(item1,index) in dataLister" :value="item1.id">{{item1.Name}}</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">标题</label>
							<div class="layui-input-block">
								<input type="text" id='title' name="title" lay-verify="title" autocomplete="off" placeholder="标题" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">视频URL</label>
							<div class="layui-input-block">
								<input type="text" id='Spurl' name="Spurl" lay-verify="Spurl" autocomplete="off" placeholder="请填写视频链接" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">描述</label>
							<div class="layui-input-block">
								<textarea placeholder="请输入内容" id='content' name="content" class="layui-textarea"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">是否必看</label>
							<div class="layui-input-block">
								<input id="checkbox" type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
							</div>
						</div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>

		<script src="../layui.js" charset="utf-8"></script>
		<script src="../js/wyq.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					is: "yuandao",
					dataList: [],
					dataLister: [],
					fldat1:[],
					fldat2:[],
					
					Pid: null

				},
				mounted() {

				},
				methods: {

				},
			})
			// 一级目录获取
			sx();

			function sx() {
				//获取一级目录
				wyq.ajax(function(ret, err, dat) {
					app.dataList = ret.Rows.ds;
					
					//分类临时存储
					app.fldat1 = ret.Rows.ds;
					app.fldat2 = ret.Rows.ds1;
					
					var erj=[];
					for(var i=0;i<ret.Rows.ds1.length;i++){
						if(app.dataList[0].id==ret.Rows.ds1[i].Pid){
							erj.push(ret.Rows.ds1[i]);
						}
					}
					app.dataLister=erj;
					
					
					//判断是否编辑
					if (wyq.data.get("spId") > 0) {
						// 获取目录
						wyq.ajax(function(ret, err, dat) {
							//二级赋值
							var pid = ret.Rows.ds1[0].id;
							$("#select_yi option[value='" + pid + "']").attr("selected", true);
							
							//第三集
							var t_id = ret.Rows.ds[0].t_id;
							
							var erj=[];
							for(var i=0;i<app.fldat2.length;i++){
								if(pid==app.fldat2[i].Pid){
									erj.push(app.fldat2[i]);
								}
							}
							app.dataLister=erj;
							// 定时器，不然数据没加载出来就已经设置了默认选中状态
							setTimeout(function() {
								$("#select_er option[value='" + t_id + "']").attr("selected", true);
								form.render('select');
							}, 1000);
							//  内容渲染
							if(ret.Rows.ds[0].bx_Status == 1){
								$('#checkbox').attr('checked', 'checked');
							}else{
								$('#checkbox').removeAttr('checked');
							}
							$("#content").val(ret.Rows.ds[0].miaoshu);
							$("#title").val(ret.Rows.ds[0].Title);
							$("#Spurl").val(ret.Rows.ds[0].sp_url);
						}, "GetVideo", "post", {
							ids: 'id',
							id: wyq.data.get("spId")
						});
						return
					}
				}, "getFenllei", "post", {
					ids: 'uid',
					uid: wyq.data.get("Uid", 0)
				});
			};

			layui.use(['form'], function() {
				form = layui.form;
				form.on('select(aihao)', function(data) {
					var val = data.value;
					app.Pid = val
				});

				form.on('select(brickType)', function(data) {
					// 选择获取
					var val = data.value;
					var erj=[];
					for(var i=0;i<app.fldat2.length;i++){
						if(val==app.fldat2[i].Pid){
							erj.push(app.fldat2[i]);
						}
					}
					app.dataLister=erj;
					setTimeout(function() {
						form.render('select');
					}, 200);
					

				});
			});
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form,
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;
				//日期
				laydate.render({
					elem: '#date'
				});
				laydate.render({
					elem: '#date1'
				});
				//监听提交
				form.on('submit(demo1)', function(data) {
					// 判断不能为空
					if(data.field.title == "" || data.field.title.indexOf(" ") >= 0||data.field.title==null||data.field.title==""||typeof(data.field.title)=="undefined"){
						layer.msg('标题不能为空或者空格！')
						return false;
					}else if(data.field.content == ""|| data.field.content.indexOf(" ") >= 0||data.field.content==null||data.field.content==""||typeof(data.field.content)=="undefined"){
						layer.msg('描述不能为空或者空格！')
						return false;
					}else if(data.field.interestr11 == ""|| data.field.interestr11.indexOf(" ") >= 0||data.field.interestr11==null||data.field.interestr11==""||typeof(data.field.interestr11)=="undefined"){
						layer.msg('暂无类目，请添加之后操作！')
						return false;
					}
					
					// 提交数据
					wyq.ajax(function(ret, err, dat) {
						console.log(ret)
						if (ret.Rows.ds[0].Status == '000000') {
							layer.msg(ret.Rows.ds[0].Msg)
							setTimeout(function() {
								var index = parent.layer.getFrameIndex(window.name);
								parent.location.reload();
								parent.layer.close(index);
							}, 1000)
						}else if(ret.Rows.ds[0].Status == '999999'){
							layer.msg(ret.Rows.ds[0].Msg)
						}
					}, "AddKeti", "post", {
						ids: 'tid,uid,Title,miaoshu,sp_img,sp_url,bx_Status,spid',
						tid: data.field.interestr11,
						spid:wyq.data.get("spId"),
						uid: wyq.data.get("Uid", 0),
						Title: data.field.title,
						miaoshu: data.field.content,
						sp_img:'文件',
						sp_url: data.field.Spurl,
						bx_Status: $('#checkbox').is(':checked')==true?1:0
					});

					return false;
				});
				//表单取值
				layui.$('#LAY-component-form-getval').on('click', function() {
					var data = form.val('example');
					alert(JSON.stringify(data));
				});

			});
		</script>
		<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			layui.use('upload', function() {
				var $ = layui.jquery,
					upload = layui.upload;
				upload.render({
					elem: '#test5',
					url: 'https://httpbin.org/post' //改成您自己的上传接口
						,
					accept: 'video' //视频
						,
					done: function(res) {
						layer.msg('上传成功');
						console.log(res)
					}
				});
			});
		</script>
	</body>
</html>
