<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>栏目列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/index.css">
		<style type="text/css">
			.del {
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				cursor: no-drop;
			}
		</style>
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/index.js"></script>
	</head>
	<body>

		<div class="layui-fluid" id="vms">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body ">
							<div class="layui-form layui-col-space5">
								<div class="layui-inline layui-show-xs-block">
									<select id="cateid" lay-filter="demo">
										<option value="0">根目录</option>
										<option v-bind:value="tiem.Pid+','+tiem.id" :id='tiem.id' v-for="(tiem,index) in getList">{{tiem.Name}}</option>
									</select>
								</div>
								<div class="layui-input-inline layui-show-xs-block" v-if="is">
									<input type="number" @change="jine" class="layui-input" id="jine" placeholder="0默认免费" name="cate_name">
								</div>
								<div class="layui-input-inline layui-show-xs-block">
									<input class="layui-input" id="Nameset" placeholder="分类名" name="cate_name">
								</div>
								<div class="layui-input-inline layui-show-xs-block">
									<button class="layui-btn" v-on:click="Save()" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
								</div>
							</div>
						</div>
						<div class="layui-card-body ">
							<table class="layui-table layui-form">
								<thead>
									<tr>
										<th width="70">ID</th>
										<th>栏目名</th>
										<th>价格</th>
										<th width="80">状态</th>
										<th>操作</th>
								</thead>
								<tbody class="x-cate">
									<template v-for="(tiem,index) in List">
										<tr v-bind:cate-id='tiem.id' v-bind:fid='tiem.Pid' v-if="tiem.Pid<=0">
											<td>{{tiem.id}}</td>
											<td>
												<i class="layui-icon x-show" v-on:click="toggle($event)" v-bind:status='true'>&#xe623;</i>{{tiem.Name}}
											</td>
											<td v-on:click="ZTStatus(tiem.id,tiem.Status==1?true:false)">
												<span>￥0</span>
											</td>

											<td>
												<!-- v-on:click="ZTStatus(tiem.id,tiem.sf_Status==0?true:false)" -->
												<input lay-filter="switchTest" type="checkbox" :value="tiem.id" name="switch" lay-text="开启|关闭"
												 v-bind:checked="tiem.Status==1?true:false" lay-skin="switch">
											</td>
											<td class="td-manage">
												<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;margin-right: 10px;">
													<button :id='tiem.id' data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">编辑</button>
													<button class="layui-btn-danger layui-btn layui-btn-xs" v-bind:Tid="tiem.id" v-on:click="deletes(tiem.id)"><i
														 class="layui-icon">&#xe640;</i>删除</button>
												</div>

											</td>
										</tr>
										<template v-for="(tiem1,index) in List" v-if="tiem.id==tiem1.Pid">
											<tr v-bind:cate-id='tiem1.id' v-bind:fid='tiem1.Pid' v-if="tiem.Pid<=0">
												<td>{{tiem1.id}}</td>
												<td>
													&nbsp;&nbsp;&nbsp;&nbsp;<i class="layui-icon x-show" v-on:click="toggle($event)" v-bind:status='true'>&#xe623;</i>{{tiem1.Name}}
												</td>
												<td v-on:click="ZTStatus(tiem.id,tiem.Status==1?true:false)">
													<span>￥{{tiem1.sf_jine}}</span>
												</td>
												<td v-on:click="ZTStatus(tiem.id,tiem.Status==1?true:false)">
													<span v-if="tiem1.sf_Status==1" style="color: red;">收费</span>
													<span v-else style="color: #33DF83;">免费</span>
												</td>
												<!-- <td v-on:click="ZTStatus(tiem1.id,tiem1.Status==1?true:false)">
													<input type="checkbox" name="switch" lay-text="收费|免费" v-bind:checked="tiem1.sf_Status==1?true:false"
													 lay-skin="switch">
												</td> -->
												<td class="td-manage">
													<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;margin-right: 10px;">
														<button :id='tiem1.id' name="1" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">编辑</button>
														<button class="layui-btn-danger layui-btn layui-btn-xs" v-bind:Tid="tiem1.id" v-on:click="deletes(tiem1.id)"><i
															 class="layui-icon">&#xe640;</i>删除</button>
													</div>
												</td>
											</tr>
											<template v-for="(tiem2,index) in List" v-if="tiem1.id==tiem2.Pid">
												<tr v-bind:cate-id='tiem2.id' v-bind:fid='tiem2.Pid'>
													<td>{{tiem2.id}}</td>
													<td>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ├{{tiem2.Name}}
													</td>
													<td v-on:click="ZTStatus(tiem.id,tiem.Status==1?true:false)">
														<span>￥{{tiem2.sf_jine}}</span>
													</td>
													<td>
														<input lay-filter="switchTest" type="checkbox" :value="tiem2.id" name="switch" lay-text="显示|隐藏"
														 v-bind:checked="tiem2.Status==1?true:false" lay-skin="switch">
													</td>
													<td class="td-manage">
														<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;margin-right: 10px;">
															<button :id='tiem2.id' data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">编辑</button>
															<button :id='tiem2.id' data-method="xs" data-type="auto" class="layui-btn layui-btn-normal">全部课题</button>
															<button class="layui-btn-danger layui-btn layui-btn-xs" v-bind:Tid="tiem2.id" v-on:click="deletes(tiem2.id)"><i class="layui-icon">&#xe640;</i>删除</button>
															
														</div>
													</td>
												</tr>
											</template>
										</template>
									</template>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../js/jquery-3.5.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/wyq.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//请求地址
			var cateIds = [];
			var vm = new Vue({
				el: '#vms',
				data: {
					is: false,
					List: null,
					getList: [],
					isr: 0,
					Tid: 0 //目录ID
				},
				mounted: function() {
					this.init()
				},
				methods: {
					init: function() {
						setTimeout(function() {
							$("tbody tr[fid!='0']").hide();
							layui.use(['form'], function() {
								form = layui.form;
							});
						}, 100);
					},

					jine: function() {
						var jine = $("#jine").val();
						let lan = jine.toString().split()[0].substr(0, 1)
						if (lan == 0) {
							if (jine.toString().split()[0].substr(0, 2).length > 1) {
								layer.msg('非法输入')
								$("#jine").val(0);
								return
							}
						}
						if (jine.toString().split(".")[1].length > 2) {
							layer.msg('非法输入')
							$("#jine").val(0);
							return
						}

					},
					Save: function(data) {
						var jine = $("#jine").val();
						var Nameset = $("#Nameset").val();
						var Pid = $("#cateid").val();
						if (Nameset == '') {
							layer.msg('课程名称不能为空')
							return
						};
						if (jine == undefined || jine == null || jine == '') {
							jine = 0
						};
						
						wyq.ajax(function(ret, err, dat) {
							console.log(ret)
							if (ret.Rows.ds[0].Status == '000000') {
								layer.msg('添加成功')
								setTimeout(function() {
									location.reload();
								}, 1000)
							} else {
								layer.msg(ret.Rows.ds[0].Msg)
							}
						}, "add_type", "post", {
							ids: "Uid,Pid,Nameset,jine",
							Uid: wyq.data.get("Uid", 0),
							Pid: vm.Tid,
							Nameset: Nameset,
							jine: jine
						});
					},
					//删分类
					deletes: function(Tid) {
						layer.confirm('确认要删除吗？', function(index) {
							//删除
							wyq.ajax(function(ret, err, dat) {
								if(ret.Rows.ds[0].Status == '000000'){
									layer.alert(ret.Rows.ds[0].Msg, {
										icon: ret.Rows.ds[0].Status == "000000" ? "1" : "2"
									 }, function(res) {
										 ret.Rows.ds[0].Msg
										setTimeout(function(){
											window.location.reload();
											layer.close(res);
										},500)
									 });
								}else if(ret.Rows.ds[0].Status == '999999'){
									layer.alert(ret.Rows.ds[0].Msg, {
										icon: ret.Rows.ds[0].Status == "000000" ? "1" : "2"
									 }, function(res) {
										 ret.Rows.ds[0].Msg
										layer.close(res);
									 });
								}
							}, "deleteType", "post", {
								ids: "id",
								id: Tid
							});
						});
					},
					//打开折页
					toggle: function(event) {
						var el = event.currentTarget;
						if ($(el).attr('status') == 'true') {
							$(el).html('&#xe625;');
							$(el).attr('status', 'false');
							cateId = $(el).parents('tr').attr('cate-id');
							$("tbody tr[fid=" + cateId + "]").show();
						} else {
							cateIds = [];
							$(el).html('&#xe623;');
							$(el).attr('status', 'true');
							cateId = $(el).parents('tr').attr('cate-id');
							getCateId(cateId);
							for (var i in cateIds) {
								$("tbody tr[cate-id=" + cateIds[i] + "]").hide().find('.x-show').html('&#xe623;').attr('status', 'true');
							}
						}
					},
					
				},
			})
			jiazai();
			Wajav();

			function Wajav() {
				wyq.ajax(function(ret, err, dat) {
					vm.getList = ret.Rows.ds
					console.log(vm.getList)
					layui.use('form', function() {
						var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
						form.render();
					});
				}, "getList", "post", {
					ids: "Uid",
					Uid: wyq.data.get("Uid", 0)
				});
			};
			//加载数据
			function hange(e) {
				console.log(e)
			};

			function jiazai() {
				$.ajax({
					url: 'http://dianda.guoguoliao.com/Server/api.aspx?Cmd=getTypeList',
					type: 'post',
					data: {
						ids: "uid",
						uid: wyq.data.get("Uid", 0)
					},
					success: function(data) {
						let dataArr = JSON.parse(data)
						vm.List = dataArr.Rows.ds1;
					}
				});
			}

			function getCateId(cateId) {
				$("tbody tr[fid=" + cateId + "]").each(function(index, el) {
					id = $(el).attr('cate-id');
					cateIds.push(id);
					getCateId(id);
				});
			}
			layui.use(['layer', 'jquery', 'form'], function() { //独立版的layer无需执行这一句
				var $ = layui.jquery,
					layer = layui.layer, //独立版的layer无需执行这一句
					form = layui.form;
				//触发事件
				var active = {
					offset: function(othis) {
						var type = othis.data('type'),
							text = othis.text();
						wyq.data.set("set",othis[0].name)
						layer.open({
							title: ['编辑', 'font-size:15px;'],
							type: 2,
							area: [wyq.data.width(), wyq.data.height()],
							content: 'classification.html'
						});
					},
					// 显示课题下的全部视频
					xs: function(othis) {
						var type = othis.data('type'),
							text = othis.text();
							console.log(othis[0].id)
							wyq.data.set("othisID",othis[0].id)
							layer.open({
								title: ['分类', 'font-size:15px;'],
								type: 2,
								area: [wyq.data.width(), wyq.data.height()],
								content: 'kczs.html'
							});
					}
				};
				$('#layerDemo .layui-btn').on('click', function() {
					var othis = $(this),
						method = othis.data('method');
					active[method] ? active[method].call(this, othis) : '';
					localStorage.setItem("ListId", othis[0].id);
				});

				form.on('select(demo)', function(data) {

					if (data.value.indexOf(',') < 0) {
						return;
					}
					var xzDat = data.value.split(',');

					//判断是否收费
					if (parseInt(xzDat[0]) <= 0 && parseInt(xzDat[1]) > 0) {
						vm.is = true;
					} else {
						vm.is = false;
					}
					//赋值选择ID
					vm.Tid = xzDat[1];
					return;
				});

				//开启一级目录
				form.on('switch(switchTest)', function(data) {
					var xzid = data.value;
					wyq.ajax(function(ret, err, dat) {
						layer.msg(ret.Rows.ds[0].Msg);
					}, "kztypestatus", "post", {
						ids: "id",
						id: xzid
					}, {});
					//layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', )
				});

			});
		</script>
	</body>
</html>
